body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c33764, #1d2671);
    font-family: 'montserrat', sans-serif;
    overflow-y: scroll;
  }
  
  /* Login Form */

  .login-form {
    margin: auto;
    margin-top: 150px;
    background: white;
    width: 400px;
    border-radius: 10px;
  }
  
  .login-form h1, .container h1{
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid silver;
  }
  
  .login-form form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  .login-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid silver;
    background: none;
    outline: none;
    transition: 0.1s;
  }
  
  .login-form input:focus{
    border-bottom: 2px solid #2691d9;
  }
  
  .login-form input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.5s;
  }
  
  .login-form input[type="submit"]:hover {
    background: #1770ac;
    transition: 0.5s;
  }

  /* Container */
  .container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    width: 450px;
    border-radius: 10px;
    padding: 0 40px 20px 40px;
  } 

  .container input[type="text"], .container input[type="password"], .container input[type="int"] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid silver;
  background: none;
  outline: none;
  transition: 0.1s;
  }
  
  .container select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 5px;
  }

  .container input[type="time"] {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    outline: none;
    transition: 0.1s;
  }

  .container input[type="text"]:focus, .container input[type="password"]:focus, .container input[type="int"]:focus {
    border-bottom: 2px solid #2691d9;
  }

  .container select:focus, .container input[type="time"]:focus-visible {
    border: 2px solid #2691d9;
  }

  .container label {
    font-weight: bold;
  }

  /* Info - Dashboard */
  .info-dashboard {
    margin: auto;
    margin-bottom: 20px;
    width: 350px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  .info-dashboard table {
    text-align: left;
    border-spacing: 10px;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
  }
  
  .info-dashboard th {
    text-align: left;
    vertical-align: top;
    width: 200px;
  }

  .info-dashboard td {
    text-align: left;
    width: 400px;
  }
  
  /* Info - Table */
  
  .info-table {
    text-align: left;
    width: 100%;
    border-spacing: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
    table-layout: fixed;
    word-wrap: break-word;
    padding-bottom: 15px;
  }
  
  .info-table th {
    width: 200px;
    padding-left: 30px;
    vertical-align: top;
  }

  /* Buttons */
  .big-blue-button {
  margin-left: 50%;
  transform: translate(-50%);
  padding: 15px 30px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  width: 95%;
  }

  .big-red-button {
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 15px 30px;
    border: 1px solid;
    background: #d92326;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    width: 95%;
  }

  .medium-blue-button {
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
  }

  .medium-red-button {
    margin-left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
    border: 1px solid;
    background: #d92326;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
  }

  .navigation-blue-button {
  width: 100%;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  height: 40px;
  font-size: 16px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  height: 50px;
  }

  .navigation-red-button {
    width: 100%;
    border: 1px solid;
    background: #d92326;
    border-radius: 25px;
    height: 40px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    height: 50px;
    }

  .big-blue-button:hover, .medium-blue-button:hover, .navigation-blue-button:hover, .edit-button:hover, .change-button:hover {
  background: #1770ac;
  transition: 0.5s;
  }

  .navigation-red-button:hover, .medium-red-button:hover, .big-red-button:hover {
    background: #b71f22;
    transition: 0.5s;
  }

  .edit-button, .change-button {
    margin-left: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: translate(-50%);
    width: 200px;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
  }

  .navigation-table {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
    table-layout: fixed;
  }

  .list {
    height: 350px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 20px;
    width: 350px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
  }

  .list input[type="button"] {
    margin-left: 25px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background: #1d2671;
    color: white;
    transition: 0.5s;
  }

  .list input[type="button"]:hover {
    background: #c33764;
    transition: 0.5s;
  }




  .account-list {
    height: 200px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  .account-list input[type="button"] {
    margin-left: 25px;
    margin-bottom: 10px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background: #ECECEC;
    color: #1d2671;
    border-color: #1d2671;
    transition: 0.5s;
    font-weight: bold;
    text-align: start;
  }
  
  .account-list input[type="button"]:hover {
    color: #2691d9;
    border-color: #2691d9;
    font-size: 18px;
    transition: 0.5s;
  }
  
